@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(253, 253, 253);
  background-color: #070809;
  box-sizing: border-box;
  .cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
  .cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c6c6c6;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
}

.heroBtn {
  color: grey;
  font-size: 12px;
  padding: 5px 10px;
  margin: 15px 5px;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 5px;
  text-transform: uppercase;
}

.heroBtn:hover {
  border: 1px solid #44d434;
}

.header {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
}

.element {
  margin: auto;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

.rota {
  animation: circle 75s infinite linear;
}

.antirota {
  animation: circle 75s infinite linear reverse;
}

@keyframes circle {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(365deg);
  }
}

.contactInput {
  outline: none;
  background-color: rgb(69, 70, 83);
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid rgba(29, 34, 85, 0.726);
  font-size: 18px;
  color: antiquewhite;

  &:hover {
    border-bottom: 2px solid rgb(175, 196, 241);
  }
  &:focus {
    border-bottom: 2px solid rgb(35, 100, 241);
  }
}

.happyface {
  width: 400px;
  height: 400px;
  background-image: url(../public/master-react-happy-face.png);
  background-repeat: no-repeat;
  position: relative;
}

.eyes {
  position: absolute;
  top: 95px;
  left: 15px;
}

.eye1 {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #00d8ff;
  margin: 0 75px;
}

.eye2 {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #e535ab;
  margin: 0 75px;
}
.eye1:after,
.eye2:after {
  /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  content: " ";
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
